@import '../../../../scss/variables.scss';

.controls__btn {
  border-radius: 3px;
  background-color: transparent;
  color: $subtitle;
  padding: 3px;
  transition: 0.3s;
}

.controls__btn:not(:last-child) {
  margin-right: 0.625em;
}

.controls__btn_active {
  border: 1px solid $main-title;
}

.controls__btn:hover {
  color: $subtitle-hover;
}